.category-show {
  padding: 1px 10px;
  text-transform: uppercase;
  border: 1px solid $black;
  display: inline-block;
  background-color: $category;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-show{
  text-transform: uppercase;
  border-bottom: 1px solid $black;
  padding-bottom: 20px;
  margin: 0;
}

.chapo-show {
  border-bottom: 1px solid $black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-show {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;

}

.content-show {
  border-bottom: 1px solid $black;
  padding-bottom: 20px;
}

.tag-show {
  padding: 1px 10px;
  text-transform: uppercase;
  border: 1px solid $black;
  display: inline-block;
  margin: 20px 0px 20px 20px;
a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: $white;
    color: $black;
  }

a:hover {
  background-color: $black;
  color: $white;
  }
}

.tags-show {
  border-bottom: 1px solid $black;
}

