<div class="share-show">
  PARTAGER :
  <div class="share-btn">
    <a href="https://wa.me/?text=<%= request.original_url %>"><i class="fa-brands fa-whatsapp"></i></a>
  </div>
  <div class="share-btn">
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="share-btn">
    <a href="#"><i class="fa-solid fa-link"></i></a>
  </div>
</div>
