<div class="share-show">
  PARTAGER :
  <div class="share-btn">
    <a href="https://wa.me/?text=<%= request.original_url %>" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
  </div>
  <div class="share-btn">
    <a href="https://twitter.com/intent/tweet?text=<%=@article.title%>&url=<%=request.original_url%> via @julilicoco " target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="share-btn">
    <a href="https://www.facebook.com/dialog/send?link=<%=request.original_url%>" target="_blank"><i class="fa-solid fa-link"></i></a>
  </div>
</div>
