hello from index.html.erb
<h1>Articles</h1>
<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-3">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path article.cover.key, crop: :fit %>')">
          <%= link_to article.title, article_path(article) %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<ul>
  <% @articles.each do |article| %>
    <p><li><%= link_to article.title, article_path(article) %></p>
     <p><% if article.cover.attached?%>
  <%=cl_image_tag article.cover.key , alt: article.image, height: 400, width: 400, crop: :fill  %> </p>
  <% end %></li>
  <% end %>
</ul>

