<div class="container">
<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/julilicoco/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://mobile.twitter.com/julilicoco" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.tiktok.com/@julilicoco/" target="_blank"><i class="fab fa-tiktok"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Adrien
  </div>
</div>
</div>
