<div class="navbar-adri">
  <div>

  </div>
  <div class="navbar-home">
    <%= link_to "OÙ MANGER ?", root_path%>
  </div>
  <div class="navbar-links">
    <ul>
      <li><%= link_to "Paris", categged_path(categ: "Paris") %></li>
      <li><%= link_to "Levallois", categged_path(categ: "Levallois") %></li>
      <li><%= link_to "Toulon", categged_path(categ: "Toulon")%></li>
    </ul>
  </div>
</div>
