<div class="navbar-adri">
    <%= link_to "OÙ-MANGER ?", root_path%>

  <div class="navbar-links">
    <ul>
      <li><%= link_to "Paris", categged_path(categ: "paris") %></li>
      <li><%= link_to "Levallois", categged_path(categ: "Levallois") %></li>
      <li><%= link_to "Toulon", categged_path(categ: "Toulon")%></li>
    </ul>
  </div>
</div>
